.DS_Store
/.idea/
.gradle
build/
!graddle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/
.classpath
.project
.settings
bin/
!**/src/main/**/bin/
!**/src/test/**/bin
.vscode/
HELP.md